External Resources/ReferenceResources/EUMEDMetering/eumedMetering.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:include schemaLocation="./eumedMeteringDataType.xsd"/>
	<xsd:element name="MeterReadingSet" type="MeterReadingSet_Type"/>
	<xsd:complexType name="Customer">
		<xsd:annotation>
			<xsd:documentation>Organisation receiving services from service supplier.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="kind" type="CustomerKind" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Kind of customer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IntervalBlock">
		<xsd:annotation>
			<xsd:documentation>Time sequence of readings of the same reading type. Contained interval readings may need conversion through the application of an offset and a scalar defined in associated pending.
Table 548 shows all association ends of IntervalBlock with other classes.
Table 548 – Association ends of Metering::IntervalBlock with other classes
Associations
name
mult to
type
description

0..*
PendingCalculation
0..1
PendingCalculation
Pending calculation to apply to interval reading values contained by this block (after which the resulting reading type is different than the original because it reflects the conversion result).

0..*
IntervalReadings
0..*
IntervalReading
Interval reading contained in this block.

0..*
ReadingType
0..1
ReadingType
Type information for interval reading values contained in this block.

0..*
MeterReading
0..1
MeterReading
Meter reading containing this interval block.


IntervalReading
Data captured at regular intervals of time. Interval data could be captured as incremental data, absolute data, or relative data. The source for the data is usually a tariff quantity or an engineering quantity. Data is typically captured in time-tagged, uniform, fixed-length intervals of 5 min, 10 min, 15 min, 30 min, or 60 min.
Note: Interval Data is sometimes also called "Interval Data Readings" (IDR).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReadingType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Type information for interval reading values contained in this block.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="ref" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IntervalReading" type="IntervalReading" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Interval reading contained in this block.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IntervalReading">
		<xsd:annotation>
			<xsd:documentation>Data captured at regular intervals of time. Interval data could be captured as incremental data, absolute data, or relative data. The source for the data is usually a tariff quantity or an engineering quantity. Data is typically captured in time-tagged, uniform, fixed-length intervals of 5 min, 10 min, 15 min, 30 min, or 60 min.
Note: Interval Data is sometimes also called "Interval Data Readings" (IDR).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.
For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The name is any free human readable and possibly non unique text naming the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeStamp" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The time when the value was last updated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timePeriod" type="DateTimeInterval" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Start and end of the period for those readings whose type has a time attribute such as 'billing', seasonal' or 'forTheSpecifiedPeriod'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Value of this reading.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReadingQualities" type="ReadingQuality" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>All qualities of this reading.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Meter">
		<xsd:annotation>
			<xsd:documentation>Physical asset that performs the metering role of the usage point. Used for measuring consumption and detection of events.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="installCode" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Installation code.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Customer" type="Customer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Customer owning this end device.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MeterReading">
		<xsd:annotation>
			<xsd:documentation>Set of values obtained from the meter.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.
For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The name is any free human readable and possibly non unique text naming the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UsagePoint" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Usage point from which this meter reading (set of values) has been obtained.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="ref" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Meter" type="Meter" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Meter providing this reading.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valuesInterval" type="DateTimeInterval" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date and time interval of the data items contained within this meter reading.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IntervalBlock" type="IntervalBlock" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>All interval blocks contained in this meter reading.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MeterReadingSet_Type">
		<xsd:sequence>
			<xsd:element name="MeterReading" type="MeterReading" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="UsagePoint" type="UsagePoint" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ReadingType" type="ReadingType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Name">
		<xsd:annotation>
			<xsd:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is not to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Any free text that name the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NameType" type="NameType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Type of this name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NameType">
		<xsd:annotation>
			<xsd:documentation>Type of name. Possible values for attribute 'name' are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName as defined in CIM version 14. The definition from CIM14 is:
The localName is a human readable name of the object. It is a free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Name of the name type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NameTypeAuthority" type="NameTypeAuthority" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Authority responsible for managing names of this type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NameTypeAuthority">
		<xsd:annotation>
			<xsd:documentation>Authority responsible for creation and management of names of a given type; typically an organization or an enterprise system.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Name of the name type authority.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReadingQuality">
		<xsd:annotation>
			<xsd:documentation>Quality of a specific reading value or interval reading value. Note that more than one quality may be applicable to a given reading. Typically not used unless problems or unusual conditions occur (i.e., quality for each reading is assumed to be good unless stated otherwise in associated reading quality type). It can also be used with the corresponding reading quality type to indicate that the validation has been performed and succeeded.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="comment" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Elaboration on the quality code.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReadingType">
		<xsd:annotation>
			<xsd:documentation>Detailed description for a type of a reading value. Values in attributes allow for the creation of recommended codes to be used for identifying reading value types as follows: &lt;macroPeriod&gt;..&lt;measuringPeriod&gt;..&lt;flowDirection&gt;.&lt;commodity&gt;.&lt;measurementKind&gt;.&lt;interharmonic.numerator&gt;.&lt;interharmonic.denominator&gt;...&lt;tou&gt;.&lt;cpp&gt;.&lt;consumptionTier&gt;..&lt;multiplier&gt;.&lt;unit&gt;.&lt;currency&gt;.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.
For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Names" type="Name" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>All names of this identified object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="macroPeriod" type="MacroPeriodKind" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Time period of interest that reflects how the reading is viewed or captured over a long period of time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="aggregate" type="AggregateKind" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Salient attribute of the reading data aggregated from individual endpoints. This is mainly used to define a mathematical operation carried out over 'macroPeriod', but may also be used to describe an attribute of the data when the 'macroPeriod' is not defined.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="measuringPeriod" type="MeasuringPeriodKind" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Time attribute inherent or fundamental to the reading value (as opposed to 'macroPeriod' that supplies an "adjective" to describe aspects of a time period with regard to the measurement). It refers to the way the value was originally measured and not to the frequency at which it is reported or presented. For example, an hourly interval of consumption data would have value 'hourly' as an attribute. However in the case of an hourly sampled voltage value, the meterReadings schema would carry the 'hourly' interval size information.
It is common for meters to report demand in a form that is measured over the course of a portion of an hour, while enterprise applications however commonly assume the demand (in kW or kVAr) normalised to 1 hour. The system that receives readings directly from the meter therefore shall perform this transformation before publishing readings for use by the other enterprise systems. The scalar used is chosen based on the block size (not any sub-interval size).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="accumulation" type="AccumulationKind" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Accumulation behaviour of a reading over time, usually 'measuringPeriod', to be used with individual endpoints (as opposed to 'macroPeriod' and 'aggregate' that are used to describe aggregations of data from individual endpoints).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flowDirection" type="FlowDirectionKind" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Flow direction for a reading where the direction of flow of the commodity is important (for electricity measurements this includes current, energy, power, and demand).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="commodity" type="CommodityKind" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Commodity being measured.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="measurementKind" type="MeasurementKind" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Identifies "what" is being measured, as refinement of 'commodity'. When combined with 'unit', it provides detail to the unit of measure. For example, 'energy' with a unit of measure of 'kWh' indicates to the user that active energy is being measured, while with 'kVAh' or 'kVArh', it indicates apparent energy and reactive energy, respectively. 'power' can be combined in a similar way with various power units of measure: Distortion power ('distortionVoltAmperes') with 'kVA' is different from 'power' with 'kVA'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interharmonic" type="ReadingInterharmonic" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indication of a "harmonic" or "interharmonic" basis for the measurement. Value 0 in 'numerator' and 'denominator' means not applicable.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="argument" type="RationalNumber" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Argument used to introduce numbers into the unit of measure description where they are needed (e.g., 4 where the measure needs an argument such as CEMI(n=4)). Most arguments used in practice however will be integers (i.e., 'denominator'=1).
Value 0 in 'numerator' and 'denominator' means not applicable.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tou" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Time of use (TOU) bucket the reading value is attributed to. Value 0 means not applicable.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cpp" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Critical peak period (CPP) bucket the reading value is attributed to. Value 0 means not applicable. Even though CPP is usually considered a specialised form of time of use 'tou', this attribute is defined explicitly for flexibility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="consumptionTier" type="AccumulationKind" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>In case of common flat-rate pricing for power, in which all purchases are at a given rate, 'consumptionTier'=0. Otherwise, the value indicates the consumption tier, which can be used in conjunction with TOU or CPP pricing.
Consumption tier pricing refers to the method of billing in which a certain "block" of energy is purchased/sold at one price, after which the next block of energy is purchased at another price, and so on, all throughout a defined period. At the start of the defined period, consumption is initially zero, and any usage is measured against the first consumption tier ('consumptionTier'=1). If this block of energy is consumed before the end of the period, energy consumption moves to be reconed against the second consumption tier ('consumptionTier'=2), and so on. At the end of the defined period, the consumption accumulator is reset, and usage within the 'consumptionTier'=1 restarts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="phases" type="PhaseCode" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Metering-specific phase code.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="multiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Metering-specific multiplier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="unit" type="UnitSymbol" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Metering-specific unit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="Currency" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Metering-specific currency.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UsagePoint">
		<xsd:annotation>
			<xsd:documentation>Logical or physical point in the network to which readings or events may be attributed. Used at the place where a physical or virtual meter may be located; however, it is not required that a meter be present.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mRID" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.
For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UsagePointLocation" type="UsagePointLocation" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Location of this usage point.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Names" type="Name" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>All names of this identified object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UsagePointLocation">
		<xsd:annotation>
			<xsd:documentation>Location of an individual usage point.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="geoInfoReference" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>(if applicable) Reference to geographical information source, often external to the utility.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
